@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Recipe: @Model["recipe"].GetRecipeName()</h2>
<h4><strong>Rating: @Model["recipe"].GetRating()</strong></h4>

<h3>Instructions:</h3>
<p>@Model["recipe"].GetInstructions()</p>

@if (@Model["recipeIngredients"].Count != 0)
{
  <hr>
  <h4>Ingredients (Click ingredient to delete it from the recipe):</h4>
  <ul>
    @foreach (var ingredients in @Model["recipeIngredients"])
    {
      <li><a href="/recipe/ingredient/delete/@ingredients.GetId()">@ingredients.GetIngredientName()</a></li>
    }
  </ul>
}
@if (@Model["recipeCategories"].Count != 0)
{
  <hr>
  <h4>Category tags:</h4>
  <ul>
    @foreach (var categorys in @Model["recipeCategories"])
    {
      <li>@categorys.GetCategoryName()</li>
    }
  </ul>
}
<hr>
<h3>Add an ingredient for this recipe:</h3>
<form action='/recipe/ingredient/success' method='post'>
  <input id='recipe-id' name='recipe-id' type='hidden' value='@Model["recipe"].GetId()'>
  <label for='ingredient-id'>Select an ingredient</label>
  <select id='ingredient-id' name='ingredient-id' type='text'>
    @foreach (var ingredient in @Model["allIngredients"])
    {
      <option value='@ingredient.GetId()'>@ingredient.GetIngredientName()</option>
    }
  </select>
  <button type='submit' class="btn btn-success">Add</button>
</form>
<h3>Add a category for this recipe:</h3>
<form action='/recipe/category/success' method='post'>
  <input id='recipe-id' name='recipe-id' type='hidden' value='@Model["recipe"].GetId()'>
  <label for='category-id'>Select a category</label>
  <select id='category-id' name='category-id' type='text'>
    @foreach (var category in @Model["allCategories"])
    {
      <option value='@category.GetId()'>@category.GetCategoryName()</option>
    }
  </select>
  <button type='submit' class="btn btn-success">Add</button>
</form>
<hr>
<form action='/recipe/update/rating/@Model["recipe"].GetId()' method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="new-rating">Update this recipe's rating</label>
  <input type="number" name="new-rating" placeholder="Number between 1-6">
  <button type="submit" class="btn btn-info">Update</button>
  </form>
  <br>
  <form action='/recipe/update/instructions/@Model["recipe"].GetId()' method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="new-instructions">Update this recipe's instructions</label>
  <input type="text" name="new-instructions" placeholder="New instructions">
  <button type="submit" class="btn btn-info">Update</button>
</form>
<hr>
<form action='/recipe/delete/@Model["recipe"].GetId()' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete this recipe</button>
</form>
<p><a href="/">Return to Main Page</a></p>
